body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size:1.25rem;
  color:white;
}

button {
  height:2.25rem;
  width:10rem;
  background-color: #ffd200;
  /* background-color:rgb(245, 217, 222);*/
  font-family: 'Montserrat Alternates', sans-serif;
  font-size:1.5rem;
  border-radius:100px;
  margin-bottom:10rem;
}

input {
  background-color:powderblue;
  width:18rem;
  height:2.75rem;
  text-align:center;
  font-family:'Montserrat Alternates';
  border-color:white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  color:rgb(187, 58, 10);
  font-size:0.85rem;
  position:relative;
}

input::-webkit-calendar-picker-indicator {
  opacity: 100;
  /* color:#947b0b; */
  color: #1b53ad;
}

.App {
  text-align: center;
  visibility: visible;
}

.form {
  height:35rem;
}
.form p {
  max-width: 20rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
  text-align:left;
}

.heading {
  font-family: 'Righteous';
  color:white;
  font-size: 3rem;
  font-weight:lighter;
  margin-bottom:0;
}

.raffle {
  margin: 0 auto;
  column-count: 2;
  column-gap: 0px;
}

.raffleCheck {
  position:relative;
  width:1.5rem;
  height:1.5rem;
  margin-top:1rem;
}


::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

.major-selection {
  background-color:powderblue;
  width:19rem;
  height:3rem;
  text-align:center;
  font-family:'Montserrat Alternates';
  border-color:white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  border-width:2px;
  color:rgb(187, 58, 10);
  font-size:0.85rem;
}
